<!-- footer.component.html -->
<footer class="footer">
  <div class="container">
    <div class="row">
      <div class="col-4">
        <div class="footer-section">
          <svg
            class="bi"
            width="24"
            height="24"
            role="img"
            aria-label="Bootstrap"
          >
            <use xlink:href="#bootstrap"></use>
          </svg>
          <small class="d-block mb-2 contact-link">&copy; 2024 AIG </small>
        </div>
      </div>
      <div class="col-4"></div>
      <div class="col-4">
        <div class="footer-section">
          <h5>Contact Us</h5>
          <ul class="list-unstyled">
            <li>
              <a class="contact-link" href="#"
                >Email: <span class="contact-info">info@aig.com</span></a
              >
            </li>
            <li>
              <a class="contact-link" href="#"
                >Phone: <span class="contact-info">+1 (123) 456-7890</span></a
              >
            </li>
            <!-- <li>
              <a class="text-muted" href="#">Address: <span class="contact-info">123 Main St, City, Country</span></a>
            </li> -->
          </ul>
        </div>
      </div>
    </div>
  </div>
</footer>
