/* dashboard.component.css */
.dashboard-container {
  margin-top: 20px ; /* Adjust as needed for spacing below header */
  text-align: center; /* Center content horizontally */
  padding: 10px;
}
.container {
    max-width: 800px;
    margin: 0 auto;
   margin-top: 0px;
    padding: 10px;
  }
  
  h2 {
    text-align: center;
    margin-bottom: 20px;
  }
  
  h3 {
    margin-top: 20px;
  }
  
  .product-list, .selected-products {
    margin-top: 20px;
    margin-bottom: 20px;
  }
  
  .grid-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
    gap: 10px;
  }
  
  .grid-item {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
  }
  
  button {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 5px 20px;
    border-radius: 4px;
    cursor: pointer;
    margin-top: 10px;
    margin-bottom: 20px;
  }
  
  button:hover {
    background-color: #0056b3;
  }
  
  button:focus {
    outline: none;
  }
  
  .submit-button {
    display: block;
    width: 100%;
    padding: 10px;
    background-color: #28a745;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    text-align: center;
    margin-bottom: 200px;
  }
  
  .submit-button:hover {
    background-color: #218838;
  }
  
  .submit-button:focus {
    outline: none;
  }
  app-footer {
    position: relative; /* or use fixed position */
    bottom: 0;
    width: 100%;
  }